//header
$theme-color-header: #131217;

//nav
$color-text-nav:#FFF;
$list-style-type-nav: none;
$font-size-text-nav:15px;

//text
$font-family-montserrat:  'Montserrat', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$display-flex: flex;
$font-style-normal:normal;
$font-size-body:1rem;
//text-title
$font-size-title:1.5rem;
$text-align-center:center;
$font-weight-title:600;
//icons
$size-width-icon:20px;
$size-height-icon:20px;

//tamaño Dispositivos
$device-tablet: 375px;
$device-laptop: 1024px;
//hover nav
$color-hover-nav:#EE6564;

//position
$position-abosulte:absolute;
$position-relative:relative;

//cursor
$cursor-pointer:pointer;

//box-shadow para las vistas
$box-shadown: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);



//background

$background-circle-wizard-active: #7391BE;
$background-circle-wiza-desactive: #D9D9D9;
$background-circle-wiza-ckeck: #4AFF72;
$background-color-white:#fff;

//align-items
$align-items-center:center;

//flex
$flex-start:flex-start;
$flex-direction-column:column;


//justify-content-center
$justify-content-center:center;

//Content
$content :"";
$border-none:none;

