@use "../utilities/" as u;

footer {
  position: static;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #131217;
  flex-direction: u.$flex-direction-column;
  width: 100%;
  flex-wrap: wrap;

  .title-footer {
    text-align: center;
  }

  .contactos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre elementos en pantallas grandes */
    margin-top: 20px; /* Margen superior en pantallas grandes */
  }

  .contactos div {
    width: 20%;
    align-items: end;
  }

  .contactos p {
    text-align: center;
  }

  .imgF {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  }

  .center {
    text-align: center;
  }

  .container {
    border-bottom: 1px solid #fff;
    background-color: #131217;
  }

  .contactos {
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
  }

  .derechos {
    text-align: center;
    margin-top: 20px; /* Margen superior en pantallas grandes */
  }

  .redes_sociales {
    display: flex;
    justify-content: center;

    img {
      @include u.size-icon(40px, 40px);
    }
  }

  // Responsive para pantallas medianas (tablets)
  @include u.min_maxTablet {
    .contactos {
      gap: 10px; /* Espacio entre elementos en tablets */
      margin-top: 10px; /* Margen superior en tablets */
    }

    .derechos {
      margin-top: 10px; /* Margen superior en tablets */
    }
  }

  // Responsive para pantallas pequeñas (móviles)
  @include u.maxphone {
    .contactos {
      flex-direction: column; /* Cambia la dirección de la flexbox en móviles */
      align-items: center; /* Centra los elementos en móviles */
    }

    .contactos div {
      width: 100%; /* Ocupa todo el ancho en móviles */
      text-align: center; /* Centra el texto en móviles */
      margin-bottom: 10px; /* Margen inferior entre elementos en móviles */
    }
  }
}
