@use "../utilities/" as u;


.form-iniciar-sesion{
  margin: 2rem 3rem;
}





//son los inputs
.form-iniciar-sesion input{
  width:20%;
  border: none ;
  height: 1.5rem;
  border-radius: 5px;
  margin: 40px 0px;
  border-bottom: 1px solid gray;
  font-family: u.$font-family-montserrat;
  outline: none;
}

.input-form-inicio-sesion{
  margin: 20% -80%;

}
.input-form-inicio-sesion input{
  width: 70%;
}


@include u.maxphone{
  .input-form-inicio-sesion{
    margin: 0 0;
  
  }
  .input-form-inicio-sesion input{
    width: 90%;
  }
  
}

@include u.min_maxTablet{
  .input-form-inicio-sesion{
    margin: 0 0;
  
  }
  .input-form-inicio-sesion input{
    width: 90%;
  }
   
}

.container-corre-contra{
  margin: 0 -30%;
}

.container-datos-personales{
  margin: 0 15%;
}

.container-informacion-extra
{
  margin: 0 -20%;

}